<div th:fragment = "clock">
    <section class="working">
        <div class="clock">
            <div class="clock-top">
                <div class="sec-min-container">
                    <div class="min-container">
                        <div class="min-pointer"></div>
                    </div>
                    <div class="sec-container">
                        <div class="sec-pointer"></div>
                    </div>
                </div>
                <div class="hours-container">
                    <div class="hours-pointer"></div>
                </div>
            </div>
            <div class="clock-center">
                <span class="number number-1">01</span>
                <span class="number number-2">02</span>
                <span class="number number-3">03</span>
                <span class="number number-4">04</span>
                <span class="number number-5">05</span>
                <span class="number number-6">06</span>
                <span class="number number-7">07</span>
                <span class="number number-8">08</span>
                <span class="number number-9">09</span>
                <span class="number number-10">10</span>
                <span class="number number-11">11</span>
                <span class="number number-12">12</span>
            </div>
        </div>
    </section>

</div>